data/snow/
data/weather/
data/test_data*
data/datasets/test_data_1.csv
data/datasets/test_data_1.nc
data/datasets/test_data_1_modified.csv
data/datasets/test_data_2_modified.csv
data/datasets/test_data_2_modified_2.csv
data/datasets/test_data_2.csv
data/datasets/test_data_2_modified_2_geop.csv
data/datasets/test_data_3.csv
data/datasets/test_data_4.csv
data/datasets/test_data_5.csv
models/*